@import url(https://font.gooova.com/fonts/14200/netflix-sans-font.html);
*{
    font-family: 'Netflix Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
}

.faq-btn{
    background-color: transparent;
    font-size: 25px;
    border: 0;
    width: 800px;
    padding: 22px;
    text-align: left;
}

h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
h3{
    font-weight: 400;
    padding-bottom: 20px;
    text-align: center;
}


.section-custom{
   
    display: flex;
    flex-direction: column;
    
    align-items: center;  /*cross axis for column  */
    border-bottom: 8px solid #222;
    padding: 75px 40px;
    
}

.section-custom>*{
    flex: 1 100%;

}

.div-faq{
    padding-top: 40px;
    padding-bottom: 40px;
   
}

.div-faq-list-item{
    display: flex;
    background-color:#2e2e2e;
    margin: 4px;
    justify-content:space-between;
    align-items: center;  /*cross axis for row   */
}


li svg{
    fill:transparent;
    background-color: #2e2e2e;
    margin-right: 8px;
}

ul {
    list-style-type: none; /* Remove bullets */
    display:flex;
    flex-direction: column;
}


.btn-email{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 25px;
    text-align: center;
    color: #fff;
    background-color: rgba(220, 0, 0, 1);
}

.btn-email:hover{
    background-color: rgba(255, 0, 0, 1);
}
.btn-email:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.form{
    display: flex;

    margin: 10px;
    align-items: center;
}


.form input{
    width: 450px;
    height: 65px;
    
    color:#333;
    font-size: 24px;
    background-color: #fff;
}

.form button{
    width: 320px;
    left: 20px;
}

@media  all and (max-width: 880px){
    

    .form{
        flex-direction: column;
        
    }
    .faq-btn {
        width: 85vw;
        margin-left: 8%;
     } 
};
@media all and (max-width:460px){
    .div-email{
        width: 50%;
    }
    
}




    
